body {
    /*background-color:#444444;*/
    background-color: dimgray;
}

.header-img {
    background-color: black;

}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#flip{

}


#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #a2c529;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}
#panel > form > p > label{
    color: black;
}
#panel > form > p > input{
    color:black;
    background-color: white;
}

#panel > form > p > textarea{
    color:black;
    background-color: white;
}


// Class for when element is above threshold
.pin-top {
position: relative;
}

// Class for when element is below threshold
.pin-bottom {
position: relative;
}

// Class for when element is pinned
.pinned {
position: fixed !important;
  }

   /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}