
body {
    /*background-color:#444444;*/
    background-color: white;

}

a {
    color: #a2c529 !important;
}

.navbar{
    z-index: 10 !important;

}

body > div:nth-child(1) > div > nav > div > a > i{
    color:black;
}

#navvy > div:nth-child(1) > div > div > nav > div > a.button-collapse > i {
    color: black !important;
    padding-left: 20px;
    padding-right: 20px;
    /*border:#a0a0a0 solid !important;*/
    z-index: 5;
}

.header-img {
    background-color: black;

}

.fab {
    color: #a2c529 !important;
}

#flip {
    background-color: #afd42b
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #afd42b;
    border: solid 1px #afd42b;
}

#panel {
    padding: 50px;
    display: none;
}

#panel > form > p > label {
    color: black;
}

#panel > form > p > input {
    color: black;
    background-color: white;
}

#panel > form > p > textarea {
    color: black;
    background-color: white;
}

.btn {
    width: 100% !important;
    color: black !important;
    background-color: #afd42b !important;
}

.nav-wrapper {
    background-color: yellowgreen !important;
}

.parallax-container {
    height: 300px !important;
}

li {
    font-weight: bold;
}

.bold-text {
    font-weight: bold !important;
}

.foot {
    background-color: black;
}

.messages {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}

/*Class for when element is above threshold,*/
    .pin-top {
position: fixed relative;
}

/* Class for when element is below threshold*/
.pin-bottom {
position: relative;
}

/* Class for when element is pinned*/
.pinned {
position: fixed !important;
    width: 70%
}