<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Evan Oxenhorn">
    <meta name="description" content="OxAudio.com, Philadelphia's Best Automotive Security and Custom Stereo Shop">
    <meta name="keywords"
          content="philly, philadelphia, philadelphia car stereo, car stereo, radio, speakers, custom fiberglass, car alarms, navigation systems">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OxAudio - Philadelphia's Best Custom Car Audio and Security</title>


    <!--stylesheet-->

    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->

    <!-- Compiled and minified JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->


    <!--Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        <!-- Custom styles for this template -->

    </script>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">


</head>


<body>
<div class="container">
    <a href="{% url 'index' %}"><img src="{% static "img/banner-trans.png" %}"
                                     class=" z-depth-5 header-img responsive-img"></a>


</div>
{% block nav %}


    <div class="container">
        <div class="navbar">
            <div class="nav">
                <nav>
                    <div class="nav-wrapper lime accent-4 z-depth-5">
                        <a href="#!" class="brand-logo"></a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                                class="material-icons">menu</i></a>

                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'gallery' %}" class="black-text">Projects</a></li>
                            <li><a href="{% url 'systems' %}" class="black-text">Systems</a></li>
                            <li><a href="{% url 'security' %}" class="black-text">Security</a></li>
                            <li><a href="{% url 'remote-start' %}" class="black-text">Remote&nbspStart</a></li>
                            <li><a href="{% url 'nav-systems' %}" class="black-text">Navigation</a></li>
                            <li><a href="{% url 'detailing' %}" class="black-text">Detailing</a></li>
                            <li><a href="{% url 'contact' %}" class="black-text">Contact</a></li>
                        </ul>
                        <ul class="side-nav black" id="mobile-demo">
                            <li><a href="{% url 'gallery' %}" class="lime-text accent-1">Projects</a></li>
                            <li><a href="{% url 'systems' %}" class="lime-text accent-1">Systems</a></li>
                            <li><a href="{% url 'security' %}" class="lime-text accent-1">Security</a></li>
                            <li><a href="{% url 'remote-start' %}" class="lime-text accent-1">Remote&nbspStart</a></li>
                            <li><a href="{% url 'nav-systems' %}" class="lime-text accent-1">Navigation</a></li>
                            <li><a href="{% url 'detailing' %}" class="lime-text accent-1">Detailing</a></li>
                            <li><a href="{% url 'contact' %}" class="lime-text accent-1">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">

        <div id="flip">Make an Appointment</div>
        <div id="panel">

                {% include "contact_form.html" %}

        </div>
    </div>
</div>

    </div>

    </div>





{% endblock nav %}

{% block content %}
{% endblock content %}















{% block footer %}



    <footer class="container">

        </div>
        <hr>
        <div class="row">
            <div class="col l3">
                <a class="lime-text" href="#">Team</a>
            </div>
            <div class="col l3">
                <a class="lime-text" href="#">Locations</a>
            </div>
            <div class="col l3">
                <a class="lime-text" href="#">Privacy</a>
            </div>
            <div class="col l3">
                <a class="lime-text" href="#">Terms</a>
            </div>

        </div>

        <!-- Element Showed -->


    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->










{% endblock footer %}
<script>


    $(document).ready(function () {


        $(".button-collapse").sideNav();
        $("#flip").click(function () {
            $("#panel").slideToggle();
        });


  })


</script>

</body>
</html>