<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Evan Oxenhorn">
    <meta name="description"
          content="OxAudio, Philadelphia's Best Automotive Security and Custom Stereo Shop. Specializing in Car Stereos, Alarms, Remote Starters, Navigation Systems and Detailing.">
    <meta name="keywords"
          content="philly, philadelphia, philadelphia car stereo, car stereo, radio, speakers, custom fiberglass, car alarms, navigation systems, speaker boxes, detailing, automotive sound">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Philadelphia's Best Custom Car Audio and Security| OxAudio</title>


    <!--stylesheet-->
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">

    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <!--Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--FontAwesom -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39602246-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        <!-- Custom styles for this template -->

    </script>


</head>


<body>

<di class="container">


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}

                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>


            {% endfor %}
        </ul>
    {% endif %}




    {% block nav %}
        <div class="container">
            <a href="{% url 'index' %}"><img src="{% static "img/banner-trans.png" %}" id="header-img"
                                             class=" z-depth-5 header-img responsive-img"></a>
        </div>
        <div class="menu">
        <div class="container">

            <div class="row">
                <div class="col s6">
                    <a id="menuflip" id="menu-btn" class="waves-effect btn z-depth-5 bold-text">Menu</a>
                </div>
                <div class="col s6">
                    <a id="flip" class="waves-effect btn z-depth-5 bold-text">Appointments</a>
                </div>
         </div>

        <div id="menu">


            <div class="col s6 menu-item"><a href="{% url 'index' %}" class="black-text menu-text">HOME</a></div>
            <div class="col s6 menu-item"><a href="{% url 'gallery' %}" class="black-text menu-text">PROJECTS</a></div>
            <div class="col s6 menu-item"><a href="{% url 'systems' %}" class="black-text menu-text">SYSTEMS</a></div>
            <div class="col s6 menu-item"><a href="{% url 'security' %}" class="black-text menu-text">SECURITY</a></div>
            <div class="col s6 menu-item"><a href="{% url 'remote-start' %}" class="black-text menu-text">REMOTE START</a></div>
            <div class="col s6 menu-item"><a href="{% url 'nav-systems' %}" class="black-text menu-text">NAV SYSTEMS</a></div>
            <div class="col s6 menu-item"><a href="{% url 'detailing' %}" class="black-text menu-text">DETAILING</a></div>
            <div class="col s6 menu-item"><a href="{% url 'tint' %}" class="black-text menu-text">WINDOW TINT</a></div>
            <div class="col s6 menu-item"><a href="{% url 'contact' %}" class="black-text menu-text">CONTACT</a></div>

        </div>


        <div class="col s12">
            <div id="panel">
                {% include "contact_form.html" %}
            </div>


        </div>
        </div>
        </div>
    {% endblock nav %}

    {% block content %}

    {% endblock content %}


    {% block footer %}



        <footer class="foot container">
            <hr>
            <div class="row">


                <div class="col s2 center-align" style="font-size:3em; color:#a2c529">
                    <a href="https://www.facebook.com/OxaudioPhilly/" target="_blank"><i
                            class="fab fa-facebook-square"></i></a>
                </div>
                <div class="col s2 center-align" style="font-size:3em; color:#a2c529">

                    <a href="https://twitter.com/OxAudio" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </div>
                <div class="col s2 center-align" style="font-size:3em; color:#a2c529">

                    <a href="https://www.instagram.com/oxaudio/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col s2 center-align" style="font-size:3em; color:#a2c529">

                    <a href="https://plus.google.com/+OxaudioPhilly" target="_blank"><i
                            class="fab fa-google-plus-square"></i></a>
                </div>


                <div class="col s2 center-align" style="font-size:3em; color:#a2c529">
                    <a href="tel:267-225-8863"><i class="fas fa-phone-square"></i></a>
                </div>
                <div class="col s2 center-align" style="font-size:3em; color:#a2c529">

                    <a href="mailto:info@oxaudio.com"><i class="fas fa-envelope-square"></i></a>
                </div>

                <div class="col s4 left-align" style="font-size:1em; color:#a2c529">
                    <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a>
                </div>
                <div class="col s8 right-align" style="font-size:1em; color:#a2c529">
                    <i class="large material-icons" style="font-size:1em; color:#a2c529">copyright</i>
                    2018 OxAudio inc.
                </div>

            </div>

            <!-- Element Showed -->


        </footer>

    {% endblock footer %}
    <script type="text/javascript">


        $(document).ready(function () {


            $("#flip").click(function () {
                $("#panel").slideToggle();
            });
            $('.parallax').parallax();
            $('.messages').delay(3200).fadeOut(300);

            $("#menuflip").click(function () {
                $("#menu").slideToggle();
            });
        })


    </script>

    <script>


    </script>


</body>
</html>