{% extends 'base.html' %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                                  We can’t wait to hear from you. There are a few ways to make an appointment.
The easiest way, since you’re already here, is to fill out the form on this page and hit submit, we’ll get in touch with you as soon as we can to setup an appointment.
Or if you want to do things the old fashioned way call 267-225-TUNE(8863)

                    </p>
                    </div>
                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                    </p>
                    </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        If we don’t pick up right away leave us a message, and make sure to include your name and phone number.

                    </p>
                    </div>

                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        We will call you to make arrangements so that you can come to the shop for an in person consultation.
Our consultations are by appointment only.
                    </p>
                    </div>

                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Before you come in check out our <a href="{% url 'gallery' %}">gallery</a> page for some inspiration, or gather ideas of your own about what you would like us to do to your vehicle. If you can imagine it, we can build it (most of the time). So stop reading this, and call already, or fill out the form. We also have an email list, if you want to get on it to hear about upcoming specials, or get updates about our latest projects theres a form for that on the right too. The map will help you find us, or if you need directions call.

                    </p>
                    </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                    </p>
                    </div>



                </div>
            </div>
        </div>






{% endblock content %}


