{% extends 'base.html' %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        We can’t wait to hear from you. There are a few ways to make an appointment.
                        Click the button, and request an appointment, we’ll get in touch with you as soon as we can to
                        setup an appointment.
                        <br>Or give us a call at <a href="tel:+12672258863">267-225-TUNE(8863)</a>
                    </p>
                </div>


                <div class="card z-depth-5">
                    <div class="card-image">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3053.066040358755!2d-75.08509904882858!3d40.07393897930551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b1499239140b%3A0x79f45141db935b1f!2sOxAudio!5e0!3m2!1sen!2sus!4v1517871061423"
                                width="100%" height="800px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        If we don’t pick up right away leave us a message, and make sure to include your name and phone
                        number.

                    </p>
                </div>

                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        We will call you to make arrangements so that you can come to the shop for an in person
                        consultation.
                        Our consultations are by appointment only.
                    </p>
                </div>

                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Before you come in check out our <a href="{% url 'gallery' %}">gallery</a> page for some
                        inspiration, or gather ideas of your own about what you would like us to do to your vehicle. If
                        you can imagine it, we can build it (most of the time). The map will help you find us, or if you
                        need them <a href="https://goo.gl/maps/1RNNWcwpStQ2"> go here for directions.</a>

                    </p>
                </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                    </p>
                </div>


            </div>
        </div>
    </div>






{% endblock content %}


