{% extends 'base.html' %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-5">
                <p class="flow-text center-align">
                    Details details details.

                </p>


            </div>
            <div class="card z-depth-5">
                <p class="flow-text center-align">

                    When it comes to cleaning your car the details are what matters. Getting every inch of it spotless,
                    so that it looks its best.
                    We offer detailing service that can’t be beat. We can get out most stubborn stains, and make sure
                    your vehicle sparkles. We offer
                    several levels of detailing for your vehicle.

                </p>


            </div>

            <div class="card z-depth-5">
                <p class="flow-text center-align">


                    For all of our detailing customers we do ask that your remove all personal items from your vehicle
                    before your appointment. This allows us to do a better job.

                </p>


            </div>

            <div class="card z-depth-5">
                <p class="flow-text center-align">
                    We do detailing by appointment only, so make sure you get in touch with us before we’re booked.

                </p>


            </div>

            <div class="card z-depth-5">
                <p class="flow-text center-align">


                    You make sure that you look your best, we can make sure that your car does too. That way you can
                    make a good first impression, whether its for business or pleasure.
                </p>


            </div>


        </div>


    </div>


</div>

{% endblock content %}

