{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="carousel carousel-slider center">
  {% for project in project_list %}
      <div class="card z-depth-5">
      <a class="carousel-item" href="#one!"><img src="{{ project.featuredImage.url }}"></a>
      </div>
 {% endfor %}
  </div>


</div>

    <script>
       $(document).ready(function(){
      $('.carousel.carousel-slider').carousel({fullWidth:true, indicators:true});
    });
    </script>
{% endblock content %}



