{% extends 'base.html' %}

{% load static %}
{% block content %}
    {{ block.super }}

    <div class="container bg">

    <h1 class="bold-text center-align">Welcome to OxAudio! <br>Philly's Best Audio and Security shop.</h1>

        <div class="row">
            <div class="col l12 m12">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{% url 'gallery' %}">
                        <img src="{% static "img/projects.jpg" %}" class="activator" alt="Projects page">
                        <span class="card-title activator black white-text">Project Gallery</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col l6 m12">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{% url 'systems' %}">
                            <img src="{% static "img/stereo.jpg" %}" class="activator" alt="Car Stereos">
                            <span class="card-title activator black white-text">Systems</span>
                        </a>
                    </div>
                </div>
            </div>



            <div class="col l6 m12">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{% url 'security' %}">
                            <img src="{% static "img/alarm.jpg" %}" class="activator" alt="car alarms">
                            <span class="card-title activator black white-text">Security</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col l6 m12">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{% url 'remote-start' %}">
                            <img src="{% static "img/remote start.jpg" %}" class="activator" alt="remote start">
                            <span class="card-title activator black white-text">Remote Start</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col l6 m12">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{% url 'nav-systems' %}">
                            <img src="{% static "img/navigation.jpg" %}" class="activator" alt="navigation system">
                            <span class="card-title activator black white-text">Navigation</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col l6 m12">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{% url 'detailing' %}">
                            <img src="{% static "img/detailing.jpg" %}" class="activator" alt="automotive detailing">
                            <span class="card-title activator black white-text">Detailing</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col l6 m12">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{% url 'tint' %}">
                            <img src="{% static "img/tint.jpg" %}" class="activator" alt="window tinting">
                            <span class="card-title activator black white-text">Window Tint</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block footer %}
{{ block.super }}
{% endblock footer %}