{% extends 'base.html' %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Navigation systems come standard on many new cars. But there’s no reason your car or truck
                        that’s a few years older can’t have that same convenience.
                        In vehicle navigation helps you get where your going fast. An in-dash system replaces your
                        factory radio, either with a permanent screen, or a flip up monitor that stays hidden in the
                        dashboard. Most in dash systems can also double as a monitor for DVD’s.

                    </p>


                </div>
                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Maybe you want to hard-wire your detachable system, and free up that power port in your car. We
                        also add systems to bikes so you can focus on the ride, instead of the directions.
                        There are a lot of options out there for Nav systems, and we’ve installed all the good ones.
                        Make an appointment today to find out what will work best for your vehicle.

                    </p>


                </div>
                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Here are some of the reasons why you’re safer with GPS:
                    <ol>
                        <li>You know where you’re going. Being lost and/or being distracted as you try to see street
                            signs and get oriented is a significant and dangerous distraction. You are rarely lost with
                            a GPS in use, and even if you miss a turn, the GPS will recalculate the route automatically
                            and get you where you need to go with minimal stress and distraction.
                        </li>

                        <li>You don’t need to deal with maps. Handling and reading maps while driving is a feat we have
                            all attempted, but it’s a significant distraction. Even with a passenger doing the map
                            reading and providing directions (this doesn’t always go smoothly, does it?), you are better
                            off with GPS.
                        </li>

                        <li>GPS improves night driving safety. Not often discussed, but in my opinion, one of the best
                            features of in-car GPS is the fact that it gives you better road awareness at night and in
                            low-visibility conditions. At night, and especially during bad-weather night driving, a GPS
                            will tell you about, and show you an upcoming turn, ramp, etc. long before you can see it.
                            On dark back roads, the GPS map will give you a preview of what’s ahead.
                        </li>

                        <li>You know which lane to be in. One of the challenges of driving unfamiliar and busy
                            multi-lane highways is knowing which lane you’ll need for an upcoming exit. A good-quality
                            text-to-voice GPS will tell you the correct lane well in advance.
                        </li>

                        <li>Safety features, such as hands-free calling, special “help” buttons that show you the
                            nearest police, hospital, garage, and more.
                        </li>
                    </ol>
                    </p>


                </div>
                <div class="card z-depth-5">
                    <p class="flow-text center-align">

                    </p>


                </div>
                <div class="card z-depth-5">
                    <p class="flow-text center-align">

                    </p>


                </div>
                <div class="card z-depth-5">
                    <p class="flow-text center-align">

                    </p>


                </div>

            </div>
        </div>
    </div>









{% endblock content %}