{% extends 'base.html' %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Remote Start installation by Oxaudio

                    </p>


                </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        There are few things worse than getting in a freezing cold car in the winter, and having to wait
                        for it to warm up, or sitting on a really hot leather car seat in the middle of July, when the
                        heat is unbearable.
                        Remote start is the answer.

                    </p>


                </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        With systems like Avital and Viper we can install a system for you, so that you can start your
                        vehicle from the comfort of your home. That way when you are ready to leave, you have a nice
                        comfortable ride, to wherever you are going.

                    </p>


                </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">

                        Systems can be integrated into your factory alarm wiring or in tandem with a new car alarm.
                        Remote start saves you the headache of waiting for your car to warm up in the morning. Set your
                        A/C on full blast (or your heater and defroster in the winter)
                        when you leave the car, and before you get in hit the button on your keys. Your vehicle will be
                        comfortable and best of all, no waiting. Worried that your car is running unattended? Remote
                        start systems have built in safety measures, including one that prevents theft. If the brake
                        pedal is depressed without the keys in the ignition, the car stops dead. We install standalone
                        systems, to retrofit your vehicle, or completely integrated security alarm and remote systems,
                        that hook directly into your factory wiring harness.

                    </p>


                </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">

                        Wanna leave your keys in your car so you don’t have to carry them? Or maybe you do it by
                        accident a lot. That’s where smartphones come in. The newest systems integrate with iPhone,
                        Android, and Blackberry smartphones to connect to your vehicle.
                        The Viper smart start system can be controlled from your Android, iPhone, or Blackberry
                        Smartphone, allowing you the most freedom.
                    </p>


                </div>


                <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Set up an appointment today, and beat the heat this summer.
                    </p>


                </div>


            </div>
        </div>
    </div>
{% endblock content %}





