{% extends 'base.html' %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-5">
                <p class="flow-text center-align">

                    Car alarm installation from Oxaudio can help protect your vehicle from would be criminals.
                    At Oxaudio we don’t just do audio. We are also mobile security experts.
                </p>
            </div>

            <div class="card z-depth-5">
                <p class="flow-text center-align">


                    We can install a state of the art alarm system to protect your vehich6e from theft.
                    We have systems to meet your needs. At the most basic an alarm system serves as a warning to an
                    intruder, beeping your horn and flashing your lights. The system says to anyone around, “Hey look
                    over here, someone is trying to break in to me.” The problem with a basic system (which is what most
                    factory vehicles have) is that cheap factory alarms go off so often, nobody pays any attention to
                    them. While they may scare a would be thief away, the thief might just ignore the system and keep
                    going. Plus if you aren’t near your vehicle, you won’t know its been broken into until its too late.
                    That’s where we come in. At Oxaudio we can install a more advanced pager systems to alert you when
                    your vehicle is compromised. We can install glass break sensors, proximity alarms, and door sensors
                    to protect your valuables, and make your ride a veritable fortress. The most advanced systems, page
                    you via a key fob with graphic alerts, or even directly through your smart phone.

                </p>
            </div>

            <div class="card z-depth-5">
                <p class="flow-text center-align">

                    Care too much about your car to rely on only the alarm? We can install the most advanced GPS
                    tracking systems money can buy. With a GPS system, if your car goes missing, the police can find it
                    fast. As an added bonus, a system like this may qualify you for insurance rate discounts.
                    It’s up to you how much protection you want for your ride. With brands like Autopage, Viper and
                    Python on your side your vehicle will be safe.


                </p>
            </div>

            <div class="card z-depth-5">
                <p class="flow-text center-align">


                    Your car is your home away from home, protect it like one, with a new alarm today.


                </p>
            </div>


        </div>
    </div>
</div>


{% endblock content %}

