{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <p>
                    <h1> OUR SYSTEMS ARE LOUD AF!</h1>
                    </p>


                    <p>
                    <h5>We install in everything from daily drivers to SPL competitions</h5>
                    </p>
                </div>


                <div class="parallax-container">
                    <div class="parallax"><img src="{% static "img//system/system1.jpg" %}"></div>
                </div>


                <div class="center-align">
                    <p class="flow-text center-align">
                        Want something unique? We've got you covered.
                        Our systems win competitions. SPL, SQ, doesn’t matter.
                        Speaker box building is part art and part science. We design our boxes to have the correct
                        volume, shape, acoustics, and porting to make your system as loud and as clean as possible.
                        Speaker boxes aren’t only for sub-woofers either We can make custom fiberglass kick-pods,
                        and speaker pods
                        to house your mid range and tweeters for optimal sound. We use computer software to
                        determine
                        the correct volume for your speaker enclosures, so they can sound their finest, and we
                        utilize
                        our mad skills to make them work in your vehicle. Check out our <a
                            href="{% url 'gallery' %}">gallery</a>
                        page for some examples of what we can do.
                    </p>
                </div>
                <div class="parallax-container">
                    <div class="parallax"><img src="{% static "img/system/system2.jpg" %}"></div>
                </div>

                <div class="center-align">
                    <p class="flow-text center-align">

                        Integrate top of the line stereo equipment into your vehicle with a stealth install, or a
                        custom system that nobody else has.
                        Fiberglass kick pods, sub boxes, sound bars, dash bezels, we can make it happen.
                    </p>
                </div>
                <div class="col s6">
                    <div>
                        <div class="center-align">
                            <p class="flow-text center-align">
                                We can install amps, secondary or bigger batteries,
                                and
                                all the wiring you need to get your system off the ground.</p>                             <p class="flow-text center-align">
Integrated or add on
                                satellite
                                radio
                                receivers, iPod docks, remote video monitors, and in-dash DVD are all available.</p>
                                                        <p class="flow-text center-align">

                                Along with
                                a
                                new head unit, we can design a complementary speaker system that will ring true, and
                                harness
                                the
                                full power of your music.</p>                            <p class="flow-text center-align">
 We
                                also install new speakers that will fit your vehicle. There are over a dozen common
                                speaker
                                sizes used by car manufacturers, and we can help you to pick the right ones for your
                                vehicle.</p>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col s6 ">
                    <div class="card-panel z-depth-5">
                        <div class="center-align">
                            <p class="flow-text center-align">
                                We install components from all the major manufacturers, such as:
                            </p>
                            <ul class="flow-text center-align">
                                <li>Car Radios</li>
                                <li>Amplifiers</li>
                                <li>Subwoofers</li>
                                <li>Sirius & XM Radio Installations</li>
                                <li>iPod Integrations to Factory Radios</li>
                                <li>iPod Integrations to Custom Stereo Systems</li>
                                <li>DVD Player Installations</li>
                                <li>Bluetooth Integration</li>
                                <li>Speakers and sub-woofers</li>
                                <li>Capacitors</li>
                            </ul>
                        </div>

                        <div class="center-align">
                            <p class="flow-text center-align">
                                <a href="{% url "security" %}">When you're done protect that system with an integrated security system.<br>
                                    Trust us, everyone is gonna want what you've got.</a>

                            </p>
                        </div>


                    </div>
                </div>
            </div>
</div>
    </div>

{% endblock content %}