{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col s12">

                <h4 class="center-align">Protect your interior from fading and your valuables from prying eyes.</h4>


            </div>

            <div ><img class="responsive-img" src="{% static "img/tint/tint.jpg" %}"></div>


        </div>


        <p class="flow-text center-align">

            We have all seen a cheap, poorly done tint job. Poor tinting installation leads to air bubbles and tint that
            falls off. Preparation is the key to a successful tint job. The windows must be clean and streak free before
            the tint is installed.
            We have had years of experience and seen some of the worst tinting out there.
                  <div class="card z-depth-5">
                    <p class="flow-text center-align">
                        Don’t go to a shop that is going to use your hard earned money to practice tinting windows.<br> Come to a shop
            that gets it right the first time.
                    </p>


                </div>
        </p>
    <p class="flow-text center-align">
            With Genuine 3M products you know we install quality, not the cheap tint some of our competitors use. We
            take our time, make sure to get all the air out, so you don’t end up with a bubbled window. Available in a
            range of shades and color options, we can complement your vehicle with a great window tinting job. From a
            light tint to cut down on the heat, to black out privacy tint we can add that finishing touch to your car or
            truck. We can tint all of your windows if you want, including the front windows(you have to pay the tickets
            if you get them though), as well as tint a visor at the top of your windshield to cut down on glare.

        </p>


    </div>
    </div>
    </div>
{% endblock content %}





